#theme-toggle {
    grid-column: 1;
    grid-row: 1;
  }
  
  #home-tile, #home-tile-active {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
  }
  
  #transport-tile, #transport-tile-active {
    grid-column: 3;
    grid-row: 2;
  }
  
  #quiz-tile, #quiz-tile-active {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1;
  }
  
  @media (min-aspect-ratio: 1/1) { /*Desktop only*/
    #nav ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr;
    }
  
    #about-tile, #about-tile-active {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 4;
    }
  
    #theme-toggle, #theme-toggle-active {
      grid-column: 5;
      grid-row: 1;
    }
  
    #sights-tile, #sights-tile-active {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 2;
    }
  
    #drink-tile, #drink-tile-active {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column: 5;
    }
  
    #housing-tile, #housing-tile-active {
      grid-column: 2;
      grid-row: 3;
    }
  
    #food-tile, #food-tile-active {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row: 3;
    }
  
    #shop-tile, #shop-tile-active {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row: 4;
    }
  
    #hotel-tile, #hotel-tile-active {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row: 4;
    }
  }
  
  @media (max-aspect-ratio: 1/1) { /*Mobile only*/
    #nav ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    }
  
    #about-tile, #about-tile-active {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 2;
    }
  
    #theme-toggle, #theme-toggle-active {
      grid-column: 4;
      grid-row: 1;
    }
  
    #sights-tile, #sights-tile-active {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row: 4;
    }
  
    #drink-tile, #drink-tile-active {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column: 4;
    }
  
    #housing-tile, #housing-tile-active {
      grid-column: 1;
      grid-row: 5;
    }
  
    #food-tile, #food-tile-active {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row: 3;
    }
  
    #shop-tile, #shop-tile-active {
      grid-row-start: 4;
      grid-row-end: 6;
      grid-column: 2;
    }
  
    #hotel-tile, #hotel-tile-active {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row: 5;
    }
  }
  