@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
body {
    background-color: #efe;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    transition: 0.2s;
}
#link {
    font-weight: bold;
    color: midnightblue;
}
button { 
    all: unset; /* remove default shadows buttons have */
}
.navactive a {
    /* border-right: 16px solid #6cbc6c; */
    border-bottom: 1px solid black;
}
nav a, #navhide, #theme-toggle {
    text-decoration: none;
}
#nav {
    transition: transform 0.2s ease-in-out;
}
#navhide, #theme-toggle { /*fixes issue where these elements did not change the cursor to a pointer previously*/
    cursor: pointer;
}
#navshow {
    display: inline-block;
    width: auto; 
    max-width: 25%; 
    padding: 10px 10px; 
    text-align: center;
    background-color: #bfb;
    color: black;
    border-radius: 2px;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(0deg, #bfb, wheat, #bfb, wheat, #bfb);
    background-size: 200% 200%; /* Allows for a smoother transition */
    animation: gradientAnimation 12s infinite linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
@keyframes gradientAnimation {
    0% { background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
}
.material-icons {
    font-size: 2.5em !important; /* or whatever size you like */
    line-height: 100vh; /* makes the icon stretch vertically if alone in a container */
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly; /* evenly distribute icons */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav ul li {
    flex: 1;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}
nav ul li a, #navhide, #theme-toggle {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    /* border-right: 16px solid transparent; */
    padding: 5px 0;
    /* padding-right: 8px; */
    transition: 0.2s;
}
nav ul li a {
    border-bottom: 1px solid transparent;
}
nav ul li a:hover, #navhide.hover, #theme-toggle.hover {
    /* border-right: 16px solid #76c776; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
#liver-banner {
    margin-top: 1%;
    max-width: 100%;
    height: auto;
}
.banner-container {
    position: relative; 
    text-align: center; 
}
.banner-container h1 {
    background: url(liver-banner.jpg);
    color: #fff;
    text-shadow: 2px 2px 8px midnightblue;
    font-family: "Codystar", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
}
.bgimg {
    max-width: 100%;
    height: auto;
    filter: brightness(50%) sepia(50%);
}
.tallimg {
    max-width: 50%;
    height: auto;
    filter: brightness(80%) sepia(20%);
}
#map {
    height: 500px;
    width: 80%;
}
footer {
    margin-top: auto;
}
#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}
#blur-overlay.active {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 1;
    pointer-events: auto;
}
.answer-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
/* DARK MODE STYLES */
body.dark-mode {
    color: white;
    background-color: #0a0f0a;
}
body.dark-mode #blur-overlay.active {
    background-color: rgba(0, 0, 0, 0.25);
}
body.dark-mode nav ul li a {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
}
body.dark-mode .navactive a {
    border-bottom: 1px solid white;
}

body.dark-mode nav, body.dark-mode #navshow {
    background: linear-gradient(0deg, #121, #112, #121, #112, #121);
    background-size: 200% 200%; /* Allows for a smoother transition */
    animation: gradientAnimation 12s infinite linear;
    color: white;
}
body.dark-mode nav ul li a:hover, body.dark-mode #navhide.hover, body.dark-mode #theme-toggle.hover {
    /* border-right: 16px solid #76c776; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
body.dark-mode nav li a {
    color: white; 
}
body.dark-mode #navshow {
    color: white;
}
body.dark-mode #liver-banner {
    filter: brightness(50%) sepia(50%);
}
body.dark-mode #link {
    font-weight: bold;
    color: lightblue;
}

@media (min-aspect-ratio: 1/1) { /*Desktop only*/
    body {
        padding-left: 1%;
        padding-right: 5%;
        max-width: 95%;
    }
    .banner-container h1 {
        position: absolute;
        top: 15% !important; 
        left: 50%; 
        transform: translate(-50%, -50%);
   }
    nav {
        display: flex !important; /*nav always displays on desktop */
        max-width: 20%;
    }
    #navhide, #navshow {
        display: none; /* Hide toggle buttons on desktop */
    }
    .banner-container {
        max-width: 90%
    }
    #map {
        height: 500px;
        width: 50%;
    }
    .bar {
        width: 50%;
    }
}
    @media (max-aspect-ratio: 1/1) { /* Mobile only */
        nav {
            transform: translateX(100%); /* hides nav with animation */
            transition: transform 0.2s ease-in-out;
            z-index: 10;
            max-width: 55%
        }
        nav.hidden {
            display: none; /* hides nav*/
        }
        nav.show {
            transform: translateX(0); /* moves nav on screen when needed */
            display: flex;
        }
        #navshow {
            display: inline-block;
        }
        .banner-container h1 {
            position: absolute;
            top: 50%; 
        } 
        .banner-container h1 { /*text was a bit high on mobile view so added in seperate style*/
            position: absolute;
            top: 25%; 
            left: 50%; 
            transform: translate(-50%, -50%);
        }
        .bar {
            width: 100%;
        }
    }