body {
    background-color: #0a0a0a;
    color: #fefefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.navactive a {
    color: #060; 
    font-weight: bold;
}
@media (min-aspect-ratio: 1/1) {
    body {
        padding-left: 15%;
        padding-right: 15%;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: 20%; 
        background-color: #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }
    nav ul li a {
        color: #fefefe;
        text-decoration: none;
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    nav ul li a:hover {
        color: #fefefe;
        background-color: #0a0a4a;
        border-radius: 1px solid blue;
    }
    #map {
        height: 500px;
        width: 50%;
    }
    #bannertext {
        position: absolute;
        top: 0%; 
        left: 0%;
        padding-left: 16%;
        padding-right: 20%;
    }
#liver-banner {
    border-radius: 12px;
    margin-top: 1%;
    max-width: 100%;
    height: auto;
    filter: brightness(40%) sepia(100%);
}



#map {
    height: 500px;
    width: 80%;
}

footer {
    margin-top: auto;
}
